.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

button {
    color: white;
    border: none;
    padding: 10px 20px;
    margin-right: 10px;
    cursor: pointer;
    border-radius: 20px;
    font-size: 20px;
    font-weight: bold;
}

.previous-btn {
    background-color: #f44336;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.next-btn {
    background-color: #04AA6D;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

button:disabled{
    background-color: #e7e7e7;
    cursor: not-allowed;
    color: black;
}

.icon {
    color: red;
}
